form {
    width: 90%;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    position: relative;
    justify-content: space-between;
}
form img {
    margin: 1rem auto;
    width: 5%;
}
form h3 {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-style: italic;
}
form h4 {
    margin: 2rem 0 1rem 2rem;
    font-style: italic;
    text-decoration: underline;
    width: 100%;
}
form p {
    font-size: 0.83em;
}
textarea {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1.5rem;
    padding: .2rem 1rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.83em;
}
.client-info {
    margin-left: 2%;
    padding: 2px;
    width: 55%;
    display: grid;
    grid-template-columns: 45% 55%;
    border: 1px solid black;
}
.left {
    border-right: 1px solid black;
}
.top, .middle {
    border-bottom: 1px solid black;
}
.client-info .middle {
    height: 5rem;
}
.client-info .bottom {
    height: 6rem;
}
.internal {
    margin-right: 2%;
    width: 37%;
    background-color: lightgray;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}
.internal p {
    padding: 3px;
}
.internal .left {
    text-align: end;
    padding-right: 1rem;
}
.internal .top {
    grid-column: span 2;
    text-align: center;
}
.subject-info {
    border: 1px solid black;
    margin: 0 2%;
    width: 96%;
    display: grid;
    grid-template-columns: 25% 75%;
}
.objectives {
    margin: 0 2%;
    border: 1px solid black;
    height: 34rem;
}
.objectives p {
    margin-bottom: 1rem;
}
.objectives textarea {
    height: 29.8rem;
}
.payment-info {
    margin: 0 2% 2rem;
    width: 96%;
    display: grid;
    grid-template-columns: 20% 80%;
}
.payment-info h5 {
    text-align: center;
}
.payment-info p {
    margin: 0 1rem;
}
.payment-info li {
    list-style-type: "-";
    margin-left: 3rem;
    font-size: 0.83em;
}
.payment-info div {
    border: 1px solid black;
    overflow: scroll;
}
.printout {
    display: flex;
    margin: 0 auto 1rem;
}
.printout h5 {
    margin-right: 2rem;
}
.form-footer {
    border-top: 3px solid black;
    padding-top: 1rem;
    margin: 0 3% 1rem;
    text-align: center;
}
.form-footer p {
    font-size: .6rem;
}
@media print {
    #header, #nav, .hero, .printout, #footer {display: none;}
}