*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
  }
/*Header*/
header {
    display: flex;
    flex-wrap: wrap;
    color: #f77703;
    justify-content: space-between;
}
.logo {
    display: flex;
    flex-wrap: wrap;
    width: 15%;
}
header img {
    width: 100%;
}
.contact-info {
    width: 60%;
    display:flex;
    flex-wrap: wrap;
    margin: 4%;
    justify-content: space-between;
    font-size: 20px;
}
.contact-info h1 {
    padding: 0 0 2%;
    font-size: 30px;
}
.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}
.contact-info ul li img {
    width: 80%;
}
/*Header End*/
/*Nav*/
nav {
    justify-content: space-around;
    background-color: #f77703;
    color:white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1% 0;
}
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
nav ul li {
    padding: 0 2%;
}
.phone {
    padding: 0 3% 0 0;
}
/*Nav End*/
/*Hero*/
.hero {
    background-image: url('./images/hero-image.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:20%;
}
.hero-cta {
    justify-content: center;
    width: 33%;
    position: relative;
    left: -40%;
}
.hero-cta button {
    width: 100%;
    color: #29465B;
    background: #f77703;
    padding: 15px 0;
    font-size: 20px;
}
/*Hero End*/
/*Services*/
.services {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
}
.service {
    flex: 1;
    padding: 20px 0;
}
.service h1 {
    text-align: center;
}
.service p {
    text-align: center;
}
.supporting-info {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px;
    text-align: center;
}
.supporting-info-heading {
    flex: 1;
    margin: 0 20px;
}
.supporting-info-subheading {
    flex: 2;
    margin: 0 20px;
}
/*Services End*/
/*Vanity Metrics*/
.vanity-metrics {
    display: flex;
    flex-wrap: wrap;
}
.association-logos {
    flex: 1;
}
.case-counts {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.cases-completed {
    flex: 1;
}
.businesses-supported {
    flex: 1;
}
.individuals-helped {
    flex: 1;
}
/*Vanity Metrics End*/
/*Who We Help*/
.who-we-help {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 30px 0;
}
.who-we-help-header {
    width: 100%;
}
.who-we-help-header p {
    margin: 20px 50px;
}
.who-we-help-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.wwh-individuals {
    width: 20%;
}
.wwh-businesses {
    width: 20%;
}
.wwh-lawfirms {
    width: 20%;
}
.wwh-link {
    margin: 20px 0 0;
}
/*Who We Help End*/
/*Contact Us*/
.contact-us {
    justify-content: center;
    display: flex;
}
.contact-us-content {
    position: relative;
    width: 40%;
    left: 15%;
}
/*Contact Us End*/
/*Services Page*/
.sp-display-case {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin: 0 5%;
}
.sp-heading {
    width: 100%;
}
.sp-service {
    width: 21%;
    margin: 3% 0 0;
    border: solid #29465B 1px;
}
/*Services Page End*/
/*Service Page Template*/
.st-service {
    display: flex;
}
.st-service-image {
    width: 40%;
}
.st-service-content {
    width: 60%;
    padding: 4%;
}
.st-service-content h3 {
    text-align: center;
    padding: 0 0 3%;
}
.st-benefits {
    display: flex;
}
.st-benefits-content {
    width: 40%;
    text-align: center;
    margin: 0 0 4%;
}
.st-benefits-content h3 {
    margin: 0 0 2%;
}
.st-benefits-content ul li {
    line-height: 2;
}
/*Service Page Template End*/
/*Footer*/
footer {
    background-color: #B7C9E2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2.5% 2%;
}
.top img {
    width: 100%;
}
.logo-footer {
    width: 5%;
}
.top {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid;
    border-color: #29465B;
}
.bottom {
    padding: 2% 0 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
/*Footer End*/