*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: Helvetica, Arial, sans-serif;
  }
a {
    color: inherit;
}
textarea {
    resize: none;
}
/*Header*/
header {
    display: flex;
    flex-wrap: wrap;
    color: #f77703;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1vw;
    color: #fff;
    background-color: black;
}
header div {
    display: flex;
    justify-content: center;
}
header div a {
    display: flex;
    align-items: center;
    justify-content: center;
}
header div a img {
    width: 15%;
}
header div a p {
    color: #f77703;
    font-size: 1.3vw;
    font-weight: bold;
}
header div ul {
    display: flex;
    justify-content: space-between;
}
header div ul li a img {
    width: 60%;
}
.hlogo img {
    width: 60%;
}
/*Header End*/
/*Nav*/
nav {
    display: flex;
    font-size: 1.4vw;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    background-image: linear-gradient(to right, #f77703 5%, black 70%);
    height: 1.8em;
    justify-content: space-between;
}
nav a {
    cursor: pointer;
}
.nav-toggle {
    display: none;
}
.nav-toggle:checked ~ .nav-menu {
    transform: scale(1, 1);
}
.nav-toggle:checked ~ .nav-menu a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 350ms;
}
.nav-toggle-label {
    display: none;
}
.nav-menu {
    width:60%;
    display: flex;
    justify-content: space-around;
}
.dropdown {
    float: left;
    color: #fff;
    width: 10vw;
    position: relative;
}
.dropdown a {
    display: grid;
    height: 1.8em;
    place-items: center;
}
.dropdown-content {
    border: 1px solid black;
    display: none;
    background-color: #f77703;
    min-width: 100%;
    width: max-content;
    position: absolute;
    max-height: 75vh;
    overflow-x: scroll;
    z-index: 9999;
    left: 50%!important;
    right: auto!important;
    text-align: center!important;
    transform: translate(-50%, 0)!important;
}
.dropdown-content li {
    border: 2px solid #f77703;
}
.dropdown-content a {
    padding: 0 .8rem;
    place-items: center;
}
/* .nav-menu {
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}
.dropdown {
    position: relative;
    width: 9.9vw;
    text-align: center;
    line-height: 2.5vw;
    color: #fff;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f77703;
    min-width: 100%;
    z-index: 9999;
    line-height: 1.3vw;
    max-height: 75vh;
    overflow-x: scroll;
}
.dropdown-content li {
    padding: 10px 5px;
}
*/
.dropdown:hover .dropdown-content {
    display: block;
}
.selected-page {
    border-bottom: 2px white solid;
}
.dropdown:hover {
    border-bottom: 2px white solid;
}
.dropdown-content li:hover {
    border-bottom: 2px white solid;
}
.nav-contact-info {
    color:#f77703;
    display: flex;
    font-weight: bold;
    position: absolute;
    right: 0;
}
.nav-contact-info a {
    display: grid;
    height: 1.8em;
    place-items: center;
}
.nav-contact-info li {
    padding: 0 20px;
}
/*Nav End*/
/*Intake Form*/
.intake-form {
    margin: 1rem 25%;
    width: 50%;
    position: fixed;
    top:0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background-color: #f77703;
    padding: 20px;
    display: none;
    z-index: 9999999;
    overflow-y: scroll;
}
.intake-form img {
    width: 50%;
    background-color: #fff;
    padding: 10px;
    border: #880808 solid 5px;
    justify-content: center;
}
.intake-form form {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
.intake-form h2 {
    font-size: 35px;
    justify-content: center;
}
.intake-form label {
    margin: 15px 0 0;
}
.intake-form input {
    width: 70%;
    padding: 10px;
    font-size: 20px;
}
.intake-form textarea {
    padding: 10px 10px 50px;
    font-size: 20px;
}
.form-submit {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #880808;
}
.loader {
    display: none;
    margin: 4px auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #880808; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.close-form {
    right: 20px;
    position: absolute;
    color: #fff;
    background-color: #880808;
    font-size: 30px;
    padding: 0 8px;
}
.returntohomepage {
    margin: 1rem 25%;
    width: 50%;
    position: fixed;
    top:0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background-color: #f77703;
    padding: 20px;
    z-index: 9999999;
    overflow-y: scroll;
}
.returntohomepage img {
    width: 50%;
    background-color: #fff;
    padding: 10px;
    border: #880808 solid 5px;
    justify-content: center;
}
.returntohomepage h2 {
    font-size: 35px;
    justify-content: center;
}
.returntohomepage p {
    line-height: 1.5;
    margin-top: 20%;
    font-size: 2rem;
}
.returntohomepage a {
    color: blue;
}
/*Intake Form End*/
/*Hero*/
.hero {
    /* background-image: url('./images/hero-image.webp');
    background-size: cover;
    background-position: center; */
    text-shadow: 1px 1px black;
    position: relative;
}
.hero-banner {
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* .hero-capabilities {
    background-image: url('./images/capabilities-hero.webp');
}
.hero-services {
    background-image: url('./images/services-hero.webp');
} */
.hero-cta {
    color: white;
    width: 60%;
    margin: 0 10%;
    padding: 10% 0;
}
.hero-cta-capabilities {
    padding: 3% 0;
}
.hero h1 {
    width:100%;
    font-size: 40px;
    margin: 0 0 10px;
}
.hero p {
    font-size: 25px;
}
.hero-cta-content {
    width: 60%;
}
.hero-cta button {
    margin: 30px 0 0;
    width: 60%;
    color: white;
    background: #f77703;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
}
.google-reviews {
    /* margin-top: 1rem; */
    margin: 1rem 15% 0;
    width: 30%;
    border-style:solid;
	border-color:#767676 #212121 #212121 #767676;
	border-width:2px;
	background:#ccc;
	color:#333;
}
.google-reviews:active {
    border-color:#212121 #767676 #767676 #212121;
}
/*Hero End*/
/*Capabilities*/
.capabilities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.capabilities a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.capabilities h1 {
    margin: 10px 0 0;
    font-size: 1.7rem;
}
.capabilities p {
    max-width: 45ch;
    margin: 10px 20px 20px;
    font-size: 1.3rem;
}
.color-1 {
    background-color: #dc995a;
}
.color-2 {
    background-color: #a3a3a3;
}
.color-3 {
    background-color: #f6b448;
}
/*Capabilities End*/
/*Supporting Info*/
.supporting-info {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px;
    text-align: center;
}
.supporting-info-heading {
    flex: 1;
    margin: 0 20px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    border-bottom: #f77703 3px solid;
}
.supporting-info-subheading {
    flex: 2;
    margin: 0 20px;
    padding: 0 5%;
}
.supporting-info-subheading h2 {
    margin: 0 0 1vw;
}
.supporting-info-subheading p {
    font-size: 1.2rem;
}
/*Supporting Info End*/
/*Vanity Metrics*/
.vanity-metrics {
    display: flex;
    flex-wrap: wrap;
    background-color: #d9d9d9;
    margin: 70px 0;
    padding: 0 2%;
}
.association-logos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: none;
    align-items: center;
}
.awards {
    align-items: flex-start;
}
.al {
    width: 15%;
}
.al img {
    width: 100%;
}
/*Vanity Metrics End*/
/*Who We Help*/
.who-we-help {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 30px 3%;
}
.who-we-help h2 {
    font-size: 1.8rem;
}
.who-we-help-header {
    width: 100%;
}
.who-we-help-header p {
    margin: 20px 50px 50px;
    font-size: 1.4rem;
}
.who-we-help-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.who-we-help-cards h3 {
    text-align: center;
    margin: 0 0 1vw;
}
.who-we-help-cards article {
    width: 22%;
    margin: 0 0 50px;
    line-height: 1.5;
    font-size: 1rem;
}
.who-we-help span {
    justify-content: center;
    align-items: center;
    margin: 0 0 20px;
}
.who-we-help img {
    width: 20%;
    margin: 0 10px;
}
.who-we-help-borders {
    margin: 3% 0 0;
    align-items: center;
    height: 70%;
    border: solid .1rem black;
}
/*Who We Help End*/
/*Contact Us*/
.contact-us {
    justify-content: center;
    display: flex;
    padding: 6% 0;
    position: relative;
    /* background-image: url('./images/contactus-onpage-banner.webp');
    background-size: cover;
    background-position: 0 55%; */
    color: #fff;
}
.contact-us img {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.contact-us-content {
    position: relative;
    width: 40%;
    left: 23%;
}
.contact-us-content h2 {
    font-size: 2.5rem;
}
.contact-us-content p {
    font-size: 1.5rem;
}
.contact-us-content button {
    margin: 30px 0 0;
    width: 60%;
    color: white;
    background: #f77703;
    padding: 15px 0;
    font-size: 1.5rem;
    font-weight: bold;
}
/*Contact Us End*/
/*Capabilities Page*/
.cp-display-case {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin: 2rem 5%;
}
.cp-heading {
    width: 100%;
}
.cp-heading h2 {
    width: 60%;
    border-bottom: #f77703 2px solid;
    padding-bottom: 1rem;
    margin: 0 auto;
}
.cp-capability {
    width: 21%;
    margin: 3rem 0 0;
}
.cp-capability h4 {
    font-size: 1.1vw;
}
.cp-capability:hover {
    transform: scale(1.2);
    transition: 200ms ease-in-out;
}
.cp-capability img {
    margin-top: 1rem;
    width: 100%;
    border-radius: 10px;
}
.cp-capability span {
    width: 21%;
}
/*Capabilities Page End*/
/*Capability Page Template*/
.st-service, .st-benefits {
    font-size: 1.2rem;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 2rem;
    margin: 2rem;
}
.st-service h3, .st-benefits h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}
.st-service-image, .st-benefits-image {
    width: 100%;
    overflow: hidden;
}
.st-service-image img, .st-benefits-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: 2s; */
}
/* .st-service-image img:hover {
    transform: scale(2);
} */
/* .st-service-image {
    margin: 2rem;
} */
/* .st-service-content {
    margin: 2rem;
    margin-left: 0;
} */
.st-benefits-content {
    text-align: center;
    /* margin: 2rem;
    margin-top: 0; */
}
/* .st-benefits-image {
    margin: 0 2rem 2rem 0
} */
.st-benefits p {
    text-align: left;
}
.st-benefits-content ul li {
    line-height: 2;
    text-align: left;
    margin-left: 20%;
    margin-right: 10%;
    list-style-type: disc;
}
/*Capability Page Template End*/
/*FAQ Page Template*/
.faq {
    margin: 2rem;
    background-color: #f77703;
}
.faq h2 {
    width: 100%;
    
    color: white;
    padding: 1rem;
}
.faq ul li{
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.faq-toggle {
    display: none;
}
.faq-toggle:checked ~ p {
    display: block;
}
.faq-dropdown p {
    display: none;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 2px solid black;
}
.color-4 {
    background-color: #fee196;
}
.color-5 {
    background-color: #fdcc4a;
}
/*FAQ Page Template End*/
/*Text Page Template*/
.text-page {
    margin: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}
.text-page h2 {
    margin-top: 3rem;
}
.text-page p {
    margin: 1rem 1rem 1rem;
}
.text-page ul {
    margin: 0 2rem;
}
.text-page ul li {
    list-style-type: disc;
}
.text-page form {
    margin: 0 20%;
}
.text-page form label {
    font-size: 1.5rem;
    font-weight: bold;
}
.text-page form input, .text-page form textarea, .text-page form button {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}
/*About Us Page Template Ends*/
/* Blog Page */
.blog {
    display: flex;
    flex-wrap: wrap;
    margin: 2%
}
.blog-entry {
    margin: 2%;
    width: 46%;
}
.blog-entry img {
    aspect-ratio: 2/1;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.blog-toggle {
    display: none;
}
@keyframes fadeInOut {
    from {opacity: 0;}
    to {opacity: 1;}
}
.blog-toggle:checked + .blog-entry {
    animation-name: fadeInOut;
    animation-duration: 500ms;
}
.blog-toggle:checked + .blog-entry h3 {
    margin-left: 5%;
    font-size: 2rem;
}
.blog-toggle:checked + .blog-entry h4 {
    margin: 1lh 0 0 5%;
    font-size: 1.6rem;
}
.blog-toggle:checked + .blog-entry div {
    display:block;
    font-size: 1.5rem;
}
.blog h5 {
    font-size: 1.5rem;
    margin-bottom: .5lh;
}
.blog div {
    display: none;
    transition: 400ms ease-in;
    margin-top: 2rem;
}
.blog ul li {
    list-style: disc;
    margin: 0 0 1lh 2rem;
}
.blog ol li {
    list-style: decimal;
    margin: 0 0 1lh 2rem;
}
.blog p {
    margin-bottom: 1lh;
}
.blog a {
    color: blue;
}
/* Blog Page Ends*/
/*Footer*/
footer {
    background-color: black;
    /* background-color: #13100d; */
    width: 100%;
    padding: 0 2.5% 2%;
    color: #fff;
}
.top-bottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.top-bottom img {
    width: 50%;
}
.logo-footer {
    width: 10%;
}
.footer-border {
    border-bottom: 3px solid #f77703;
    margin: 0 0 2%;
    padding: 1% 0;
}
.ft-left {
    margin: 0 20% 0 0;
}
.fb-left {
    width: 30%;
}
.f-center {
    margin: 0 auto;
}
.f-right {
    width: 30%;
    text-align: right;
}
/*Footer End*/
/*Media Queries for smaller desktop screens*/
@media screen and (max-width: 980px) {
    header div {
        width: 25%;
    }
    header div a img {
        width: 22%;
    }
    header div a p {
        font-size: 1.4vw;
    }
    nav {
        font-size: 2vw;
        height: 4.6vw;
    }
    .nav-menu {
        width: 100%;
    }
    .nav-contact-info {
        display: none;
    }
    .dropdown {
        width: 100%;
    }
    .dropdown a {
        height: 4.6vw;
    }
    .dropdown-content {
        right: 0;
    }
    .dropdown-content a {
        place-items: center;
    }
    .cp-capability {
        width: 30%;
        margin: 15px auto;
    }
    .cp-capability h4 {
        font-size: 1.6vw;
    }
    .cp-capability:hover {
        transform: scale(1.1);
    }
    .st-service, .st-benefits {
        grid-template-columns: 1fr;
    }
    .st-service-image {
        order: 1;
    }
    .st-service-content, .st-benefits-content {
        margin: 2rem;
    }
    .intake-form, .returntohomepage {
        margin: 1rem 15%;
        width: 70%;
    }
    .contact-us-content button, .hero-cta-content button {
        width: 100%;
    }
    .google-reviews {
        margin: 1rem 25% 0;
        width: 50%;
    }
}
/*Media Queries for smaller desktop screens end*/
/*Media Queries for tablets*/
@media screen and (max-width:768px) {
    header {
        justify-content: space-around;
    }
    .hloc {
        display: none;
    }
    .hpho {
        display: none;
    }
    .hsmi {
        display: none;
    }
    header div {
        width: 45%;
    }
    header div a {
        justify-content: flex-start;
    }
    header div a img {
        width: 20%;
    }
    header div a p {
        font-size: 2.66vw;
    }
    header div ul {
        justify-content: space-between;
    }
    .hlogo img {
        width: 70%;
    } 
    nav {
        font-size: 1rem;
        position: relative;
        background-image: linear-gradient(to right, #f77703 15%, black 45%);
    }
    .nav-toggle:checked ~ .nav-menu {
        transform: scale(1, 1);
    }
    .nav-toggle:checked ~ .nav-menu a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 350ms;
    }
    .nav-toggle-label {
        margin-left: 1em;
        display: flex;
        align-items: center;
        z-index: 9999;
    }
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: white;
        height: 2px;
        width: 1.5em;
        border-radius: 2px;
        position: relative
    }
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }
    .nav-toggle-label span::before {
        bottom: 7px;
    }
    .nav-toggle-label span::after {
        top: 7px;
    }
    .nav-menu {
        background-color: #f77703;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform 400ms ease-in-out;
        width: 90%;
    }
    .nav-menu a {
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }
    .dropdown:nth-child(6) .dropdown-content {
        left: auto!important;
        right: 0!important;
        text-align: center!important;
        transform: translate(0)!important;
    }
    .nav-contact-info {
        display: flex;
    }
    .nav-toggle:checked ~ .nav-contact-info {
        display: none;
    }
    .supporting-info-heading{
        flex: unset;
        width: 85%;
        padding-bottom: 1rem;
        margin: 0 auto 1rem;
    }
    .supporting-info-subheading{
        flex: unset;
    }
    .al {
        width: 40%;
    }
    .cp-capability {
        width: 45%;
        margin: 15px auto;
    }
    .cp-capability h4 {
        font-size: 2.5vw;
    }
    .cp-capability:hover {
        transform: scale(1);
    }
    .contact-us-content {
        position: relative;
        width: 90%;
        left: 0%;
    }
    .who-we-help-cards article {
        width: 80%;
    }
    .who-we-help-borders {
        display: none;
    }
    .intake-form, .returntohomepage {
        margin: 1rem 10%;
        width: 80%;
    }
}
/*Media Queries for tablets end*/
/*Media Queries for mobile phones*/
@media screen and (max-width: 575px) {
    nav {
        height: 3.4rem;
    }
    .nav-menu {
        flex-wrap: wrap;
    }
    .dropdown {
        width: 100%;
        background-color: #f77703;
        font-size: 2rem;
        height: 5rem;
    }
    .dropdown a {
        margin: 1.5rem 0;
    }
    .dropdown-content {
        font-size: 1.5rem;
        
    }
    .dropdown-content a {
        padding: 1rem;
        height: 3rem;
    }
    .nav-contact-info {
        text-shadow: 1px 1px black;
        flex-direction: column;
        align-items: flex-end;
    }
    .dropdown:nth-child(3) .dropdown-content {
        left: auto!important;
        right: 0!important;
        text-align: center!important;
        transform: translate(0)!important;
    }
    /* .nav-menu {
        margin-left: 15%;
        width: 85%;
    }
    .dropdown {
        width: 30%;
        height: 1.7rem;
    }
    .dropdown-content {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1;
    }
    .dropdown-content a {
        padding: 10px;
    } */
    .hero-cta {
        left: 0;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding: 10%;
    }
    .hero-cta-content {
        width: 100%;
    }
    .capabilities {
        grid-template-columns: 1fr;
    }
    .capabilities a:nth-of-type(1) {
        order: 1;
    }
    .capabilities a:nth-of-type(2) {
        order: 3;
    }
    .capabilities a:nth-of-type(3) {
        order: 5;
    }
    .capabilities a:nth-of-type(4) {
        order: 2;
    }
    .capabilities a:nth-of-type(5) {
        order: 4;
    }
    .capabilities a:nth-of-type(6) {
        order: 6;
    }
    .cp-capability {
        width: 80%;
        margin: 15px auto;
    }
    .cp-heading h2 {
        width: 80%;
    }
    .cp-capability h4 {
        font-size: 4vw;
    }
    footer {
        font-size: 4vw;
        text-align: center;
    }
    footer div p {
        margin: 20px 0;
    }
    .logo-footer {
        width: 30%;
        margin: 20px auto;
    }
    .fb-left {
        margin: 20px auto;
    }
    .f-center, .f-right {
        width: 100%;
        text-align: center;
    }
    .intake-form, .returntohomepage {
        margin: 0;
        width: 100%;
    }
}
/* Media Queries for mobile phones end */