*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: Helvetica, Arial, sans-serif;
  }
a {
    color: inherit;
}
/*Header*/
header {
    display: flex;
    flex-wrap: wrap;
    color: #f77703;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px 10px;
}
.logo {
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    height: 75%;
}
header img {
    width: 100%;
}
.hl-icon {
    width: 15%;
}
.hp-icon {
    width: 20%;
}
header div a {
    display: flex;
}
header p {
    align-items: center;
    color: #f77703;
    font-size: 18px;
    font-weight: bold;
    ;
}
.contact-info {
    width: 60%;
    display:flex;
    flex-wrap: wrap;
    margin: 4%;
    justify-content: space-between;
    font-size: 15px;
    margin: 0;
}
.contact-info-phone{
    padding: 0.5lh 0;
}
.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.contact-info ul li img {
    width: 80%;
}
/*Header End*/
/*Nav*/
nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.nav-left {
    color: white;
    width: 60%;
    background-color: #f77703;
    display: flex;
    padding: .5% 0;
    align-items: center;
}
.nav-right {
    color:#f77703;
    width: 40%;
    display: flex;
    justify-content: space-around;
    background-color: #111111;
    align-items: center;
    padding: .5% 0;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
nav ul li {
    padding: 0 2%;
}
.phone {
    padding: 0 3% 0 0;
}
/*Nav End*/
/*Hero*/
.hero {
    background-image: url('./images/hero-image.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:20%;
}
.hero-cta {
    justify-content: center;
    width: 100%;
    position: relative;
    left: -20%;
    color: white;
}
.hero h1 {
    width:100%;
    font-size: 40px;
    margin: 0 0 10px;
}
.hero p {
    font-size: 25px;
}
.hero-cta-content {
    width: 60%;
}
.hero-cta button {
    margin: 30px 0 0;
    width: 60%;
    color: white;
    background: #f77703;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
}
/*Hero End*/
/*Services*/
.services {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
}
.service {
    flex: 1;
    padding: 20px 0;
}
.service h1 {
    text-align: center;
}
.service p {
    text-align: center;
}
.service-1 {
    background-color: #dc995a;
}
.service-2 {
    background-color: #a3a3a3;
}
.service-3 {
    background-color: #f6b448;
}
.supporting-info {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px;
    text-align: center;
}
.supporting-info-heading {
    flex: 1;
    margin: 0 20px;
}
.supporting-info-subheading {
    flex: 2;
    margin: 0 20px;
}
/*Services End*/
/*Vanity Metrics*/
.vanity-metrics {
    display: flex;
    flex-wrap: wrap;
    background-color: #d9d9d9;
    margin: 70px 0;
}
.association-logos {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: none;
    align-items: center;
}
.al {
    width: 20%;
}
.al img {
    width: 100%;
}
.case-counts {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.case-counts h2 {
    font-size: 40px;
}
.case-counts div {
    flex: 1;
}
/*Vanity Metrics End*/
/*Who We Help*/
.who-we-help {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 30px 0;
}
.who-we-help-header {
    width: 100%;
}
.who-we-help-header p {
    margin: 20px 50px 50px;
}
.who-we-help-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.who-we-help-cards div {
    width: 20%;
}
.wwh-link {
    margin: 20px 0 0;
}
/*Who We Help End*/
/*Contact Us*/
.contact-us {
    justify-content: center;
    display: flex;
    margin: 0 0 30px;
}
.contact-us-content {
    position: relative;
    width: 40%;
    left: 15%;
}
/*Contact Us End*/
/*Services Page*/
.sp-display-case {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin: 0 5%;
}
.sp-heading {
    width: 100%;
}
.sp-service {
    width: 21%;
    margin: 3% 0 0;
    border: solid #29465B 1px;
}
/*Services Page End*/
/*Service Page Template*/
.st-service {
    display: flex;
}
.st-service-image {
    width: 40%;
}
.st-service-content {
    width: 60%;
    padding: 4%;
}
.st-service-content h3 {
    text-align: center;
    padding: 0 0 3%;
}
.st-benefits {
    display: flex;
}
.st-benefits-content {
    width: 40%;
    text-align: center;
    margin: 0 0 4%;
}
.st-benefits-content h3 {
    margin: 0 0 2%;
}
.st-benefits-content ul li {
    line-height: 2;
}
/*Service Page Template End*/
/*Footer*/
footer {
    background-color: #d9d9d9;
    width: 100%;
    padding: 0 2.5% 2%;
}
.top-bottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.top-bottom img {
    width: 100%;
}
.logo-footer {
    width: 10%;
}
.footer-border {
    border-bottom: 3px solid #f77703;
    margin: 0 0 2%;
    padding: 1% 0;
}
.ft-left {
    margin: 0 20% 0 0;
}
.fb-left {
    width: 30%;
}
.f-center {
    margin: 0 auto;
}
.f-right {
    width: 30%;
    text-align: right;
}
/*Footer End*/